.msg-area {
  height: 70vh;
  overflow: auto;
}

.message-body {
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: fit-content;
  color: white;
  font-weight: 600;
  max-width: 70%;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.377);
  transition-duration: 300ms;
}

.message-body:hover {
  /* transform: translateY(-5px); */
}

.message-body p {
  margin: 0;
}

.sent-msg {
  background-color: rgb(0, 133, 0);
  margin-left: auto;
  border-radius: 20px 0 20px 20px;
}

.rec-msg {
  background-color: rgb(97, 0, 189);
  border-radius: 0 20px 20px 20px;
}
